<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid cont">
    <img class="sizeLogo" src="assets/images/logoME.jpg">
    <a class="navbar-brand liens" routerLink="/accueil">Accueil</a>
    <a class="navbar-brand liens" routerLink="/accueil">Formulaire</a>
    <a class="navbar-brand liens" routerLink="/accueil">a propos de moi</a>
  </div>
  <div class="conteneur">
    <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=fr&size=small&timezone=Europe%2FParis" ></iframe>
  </div>
</nav>
